{% extends "base.html" %}
{% load static humanize i18n %}
<title>{% block title %}Blog: {{ post.title }} | VGR - Blog Tutorial{% endblock title %}</title>
{% block content %}
<header class="container">
	<h1 class="text-center mt-5 mb-3 text-dark">{{ post.title }}</h1>
	<div class="text-center pb-3 font-weight-bold">
		<small class="text-center text-secondary">Date posted: <i>{{ post.created_on }}</i></small>
	</div>
	<div class="text-center pb-3 font-weight-bold text-secondary">
		{% for category in post.categories.all %}
			<span class="p-2">
				<a href="{% url 'categories' category.slug %}">
					#{{ category.title }}
				</a>
			</span>
		{% endfor %}
	</div>
</header>
<section class="container">
	<article>
		<div class="card mb-3 bg-light">
			<img src="{{ post.image.url }}" class="card-img-top" style="height:40vh;" alt="...">
			<div class="card-body bg-dark">
				<p class="card-text">{{ post.body|safe }} </p>
			</div>
		</div>
	</article>
</section>
{% endblock content %}
