{% extends "base.html" %}
{% load static humanize i18n %}
<title>{% block title %}Projects | VGR - Blog Tutorial{% endblock title %}</title>
{% block content %}
<section class="container py-4">
	<h1 class="text-center mb-4 text-dark">
        My most recent works
    </h1>
	{% for project in projects %}
	<div class="card mb-4 bg-light">
		<img src="{{ project.image.url }}" class="mx-3 py-3 img-fluid" style="height:40vh;" alt="...">
		<div class="card-body bg-dark">
			<h2 class="card-title text-center">
				<a href="{% url 'project-details' project.slug %}">
					{{ project.title }}
				</a>
			</h2>
			<div class="text-center">
				<span class="card-text">
                    <a href="{{ project.live_site }}">
                        View Site
                    </a>
                </span>
				<span class="card-text">
                    <a href="{{ project.github }}">
                        GitHub
                    </a>
                </span>
			</div>
			<div class="text-center py-2 mt-2">
				<h2 class="card-title text-center">
                Project Details
                </h2>
				<p class="card-text">
					{{ project.description }}
                </p>
			</div>
		</div>
	</div>
	{% endfor %}
</section>
{% endblock content %}
