{% extends "base.html" %}
{% load static humanize i18n %}
<title>{% block title %}Project: {{ project.title }} | VGR - Blog Tutorial{% endblock title %}</title>
{% block content %}
<section class="container py-5">
	<h1 class="text-center mb-4 text-dark">
        Project for {{ project.title }}
    </h1>
	<div class="card mb-4 bg-light">
		<img src="{{ project.image.url }}" class="mx-3 py-3 img-fluid" style="height:40vh;" alt="...">
		<div class="card-body bg-dark">
			<h2 class="card-title text-center">{{ project.title }}</h2>
			<div class="text-center">
				<span class="card-text">
                    <a href="{{ project.live_site }}">
                        View Site
                    </a>
                </span>
				<span class="card-text">
                    <a href="{{ project.github }}">
                        GitHub
                    </a>
                </span>
			</div>
			<div class="text-center py-2 mt-2">
				<h2 class="card-title text-center">
                Project Details
                </h2>
				<p class="card-text">
                    {{ project.description }}
                </p>
			</div>
		</div>
	</div>
</section>
{% endblock content %}
